body{
    background-color: #141414 !important;
}

.splash{
    position: fixed;
    z-index: 2;
    left: 0;
    top: -150vh;
    width: 100%;
    height: 100vh;
    background: #242424;
    bottom: 150px;
    opacity: 0;
}
.splash.active{
    top: 0;
    bottom: 0;
    opacity: 1;
}
.splashBtn{
    padding: 10px 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgHeart{
    position: absolute;
    top: 150px;
    left: 270px;
    pointer-events: none;
    opacity: 0;
}
.imgHeart.active{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file + label {
    padding: 10px 20px;
    color: #787878;
    background: transparent;
    border: #545454 solid 5px;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
}
.input-file + label:hover{
    background: #bcbcbc;
    transition: 1s;
    color:#141414;
    cursor: pointer;
}
.postAdd-header{
    color: #ffffff;
    margin-bottom: 30px;
}
.addPost-description{
    background: transparent;
    max-height: 200px;
    min-height: 50px;
    border: solid #454545 3px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #d4d4d4;
}
.addPost-btn{
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
}
.post-body{
    background: #141414;
    color: #ffffff;
}
.post{
    border: none !important;
    margin: 0;
    padding: 0;
}
.card-body{
    border-left: solid #787878 2px;
    border-right: solid #787878 2px;
}
.comment-body{
    background: #242424;
    border-bottom: solid #787878 2px;
    border-left: solid #787878 2px;
    border-right: solid #787878 2px;
}
.comments{
    margin-left: 45px;
}
.post-description{
    margin-left: 20px;
    padding: 15px 0;
}
.comment-header{
    margin-left: 30px;
}
.navbar{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
    z-index: 1;
}
.nickname{
    text-decoration: none;
}
.comment{
    margin-left: 15px;
}
